<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('employees.list') }"><a ui-sref="employees.list">All depts</a></li>
        <li class="nav-header">Top depts</li>

        <!-- This <li> will only add the 'active' class if 'depts.detail' or its descendants are active
             AND if it is the link for the active dept (aka deptId) -->
        <li ng-repeat="dept in depts"
            ng-class="{ active: $state.includes('employees.detail') && $stateParams.deptId == dept.departmentId }">

          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a ui-sref="employees.detail({deptId:dept.departmentId})">{{dept.departmentName}}</a>
        </li>
      </ul>
      <hr>

      <!-- Another named view -->
   <!--    <div ui-view="list"></div> -->
     
      <div ui-view="menuTip"></div>

    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div class="9">
    <div class="row">
      <div ui-view class="span9" ng-animate="{enter:'fade-enter'}"></div>
      <div ui-view="other" class="span3" ng-animate="{enter:'fade-enter'}"></div>
     </div>
    </div>
</div>
