            <a class="nav-brand" href="index.html">
                KingRay CMS Application
            </a>
            <div class="row m-n">
                <div class="col-md-4 col-md-offset-4 m-t-lg">
                    <section class="panel">
                        <header class="panel-heading text-center">
                            登 陆
                        </header>
                        <form class="panel-body" ng-submit="doLogin(user)">
                            <div class="form-group">
                                <label class="control-label">
                                    用户名/邮箱
                                </label>
                                <input type="text" ng-model="user.userName" placeholder="test@example.com" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    密码
                                </label>
                                <input type="password" ng-model="user.userPassword" id="inputPassword" placeholder="Password" class="form-control">
                            </div>
                           
                            <a href="#" class="pull-right m-t-xs">
                                <small>
                                    忘记密码?
                                </small>
                            </a>
                            <button type="submit" class="btn btn-info">
                                登 录
                            </button>
                            <div class="line line-dashed">
                            </div>
                            
                        </form>
                    </section>
                </div>
            </div>
        <!-- footer -->
        <footer id="footer">
            <div class="text-center padder clearfix">
                <p>
                    <small>
                        Mobile first web app framework base on Bootstrap
                        <br>
                        &copy; 2013
                    </small>
                </p>
            </div>
        </footer>
